$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  // background-color: $background-color;
  color: $font-color;
  // max-width: $max-width;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
}

// .d-inline-block {
//   display: inline-block;
// }

.header-content {
  background-color: $header-color;
}

.body-container {
  background-color: $background-color;
}

.info-container {
  background-color: $info-bar-color;
  // clear: both;
  font-size: 20px;
  // margin-top: 25px;
}

.game-board {
  background-color: $game-board-color;
  // clear: both;
  // margin-top: 100px;
}

.messages-div {
  height: 30px;
}

.auth-forms {
  border: 1px solid #ababab;
}

.footer {
  background-color: $footer-color;
  // padding: 0;
}

.box {
  border: 1px solid $black;
  height: 5em;
  // padding: 0;
  //   display: inline-block;
  //   float: left;
}

.box > p {
  color: $font-color-bright;
  font-size: 50px;
}

// temp
// div {
//   border: 1px solid $black;
// }
